@font-face {
    font-family: regular;
    src: url('../fonts/regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: regular;
    font-size: 14px;
}
.container {
    margin: 0 auto;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
/* Generic CSS ends */
/* Header - Top part */
.nav {
    background-color: #ef8432;
    height: 80px;
}
header ul {
    list-style: none;
}
header li,
header a {
    display: inline-block;
}
header li {
    padding: 12px 22px;
}
header a {
    color: #ffffff;
}
div.nav {
    padding: 25px;
}
div.nav img {
    padding-left: 100px;
    padding-top: 10px;
}
nav.pull-right a {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 20px;
    text-decoration: none;
}
/* Mid Section - Image */
div.orange img {
    margin-top: 109px;
    margin-left: 50px;
}
/* Search Box */
div.search input {
    padding-top: 10px;
    width: 313px;
    background-color: #f0f0f0;
    height: 90px;
    font-size: 40px;
    margin-top: 20px;
    /* margin-right: 30px; */
}
div.search button {
    margin-right: 30px;
    font-size: 30px;
    background-color: #f0f0f0;
    height: 80px;
    margin-left: 0;
    padding-left: 0;
    padding-top: 42px;
    padding-bottom: 58px;
    color: #c0c1c4;
}
/* Paragraph */
p {
    font-size: 45px;
    line-height: 70px;
    color: #ec8432;
    margin-top: 40px;
    margin-right: 50px;
    font-weight: lighter;
}
span {
    font-size: 50px;
    font-weight: bold;
}
span.color {
    color: #8ecaca;
}
/* Buttons */
.button-blue {
    background-color: #8ecaca;
    border: none;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 4px 2px;
    padding: 30px;
    padding-right: 70px;
    text-align: center;
    padding-left: 60px;

}
.button-orange {
    background-color: #ec8432;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 2px;
    padding: 30px;
}
div.pull-right a {
    margin-right: 150px;
}
/* Footer */
footer {
    background-color: #8ecaca;
}
div.socialmedia li a {
    color: #ffffff;
    text-decoration: none;
}
